<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: headImports}"></head>

<body>
	<nav th:replace="~{fragments/navbar :: navbarImports}"></nav>

	<!-- ======= espaçamento da navbar Section ======= -->
	<section class="d-flex align-items-center">
	</section><!-- End Hero -->
	<main id="main">
		
		<!-- ======= CONTATO Section ======= -->
		<section id="contact" class="contact">
			<div class="container" data-aos="fade-up">

				<div class="section-title">
					<h2>CONTATO</h2>
					<p>Contate-nos</p>
				</div>
			</div>

			<div data-aos="fade-up">
				<iframe style="border:0; width: 100%; height: 350px;"
					src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3889.750435925273!2d-38.455657724925445!3d-12.859389087445756!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7161228011f7db3%3A0x247ba13e5ea331ff!2zVGlsw6FwaWE!5e0!3m2!1spt-BR!2sbr!4v1708131839555!5m2!1spt-BR!2sbr">
				</iframe>
			</div>

			<div class="container" data-aos="fade-up">

				<div class="row mt-5">

					<div class="col-lg-4">
						<div class="info">
							<div class="address">
								<i class="bi bi-geo-alt"></i>
								<h4>Localização:</h4>
								<p>R. Valença - Boca da Mata de Valéria, Salvador - BA, 41299-030</p>
							</div>

							<div class="open-hours">
								<i class="bi bi-clock"></i>
								<h4>Horário de funcionamento:</h4>
								<p>
									Quarta a Segunda:<br>
									09:00 - 18:00
								</p>
							</div>

							<div class="email">
								<i class="bi bi-envelope"></i>
								<h4>Email:</h4>
								<p>info@example.com</p>
							</div>

							<div class="phone">
								<i class="bi bi-phone"></i>
								<h4>WhatsApp:</h4>
								<p>71 9 8861-1417</p>
							</div>

						</div>

					</div>

					<div class="col-lg-8 mt-5 mt-lg-0">
						<form action="forms/contact.php" method="post" role="form" class="php-email-form">
							<div class="row">
								<div class="col-md-6 form-group">
									<input type="text" name="nome" class="form-control" id="name" placeholder="Seu Nome"
										required>
								</div>
								<div class="col-md-6 form-group mt-3 mt-md-0">
									<input type="email" class="form-control" name="email" id="email"
										placeholder="Seu Email" required>
								</div>
							</div>
							<div class="form-group mt-3">
								<input type="text" class="form-control" name="assunto" id="subject"
									placeholder="Assunto" required>
							</div>
							<div class="form-group mt-3">
								<textarea class="form-control" name="messagem" rows="8" placeholder="Messagem"
									required></textarea>
							</div>
							<div class="my-3">
								<div class="loading">Carregando</div>
								<div class="error-message"></div>
								<div class="sent-message">Sua mensagem foi enviada. Obrigado!</div>
							</div>
							<div class="text-center"><button type="submit">Enviar Messagem</button></div>
						</form>

					</div>

				</div>

			</div>
		</section><!-- End Contact Section -->

	</main><!-- End #main -->
	<!-- ======= Footer ======= -->
	<footer th:replace="~{fragments/footer :: footerImports}"></footer>

	<div id="preloader"></div>
	<a href="#" class="back-to-top d-flex align-items-center justify-content-center">
		<i class="bi bi-arrow-up-short"></i></a>

	<!-- Vendor JS Files -->
	<script src="js/eventos.js"></script>
	<script src="../vendor/aos/aos.js"></script>
	<script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="../vendor/glightbox/js/glightbox.min.js"></script>
	<script src="../vendor/isotope-layout/isotope.pkgd.min.js"></script>

	<!-- Template Main JS File -->
	<script src="../js/main.js"></script>
</body>

</html>