<head th:fragment="headImports">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Restaurante Boteco da Tilápia</title>
	<meta content="" name="description">
	<meta content="" name="keywords">
	<!-- Favicons -->
	<link href="#" rel="icon">
	<link href="#" rel="apple-touch-icon">

	<!-- Arquivos CSS do Fornecedor -->

	<link href="../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="../../vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
	<link href="../../css/eventos.css" rel="stylesheet">	
	
	<link href="../../vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
	<link href="../../vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
	

	<!-- Template Main CSS File -->
	<link href="../../css/style.css" rel="stylesheet">
</head>