<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: headImports}"></head>


<body>
	<!-- partial:partials/_navbar.html -->
	<nav th:replace="~{fragments/navbar :: navbarImports}"></nav>
	<!-- partial:partials/_topbar.html -->
	<nav th:replace="~{fragments/topbar :: topbarImports}"></nav>


	<!-- ======= espaçamento da navbar Section ======= -->
	<section class="d-flex align-items-center">
	</section><!-- End Hero -->
	<main id="main">

		<!-- ======= Menu Section ======= -->
		<section id="menu" class="menu section-bg">
			<div class="container" data-aos="fade-up">

				<div class="section-title">
					<h2>CARDÁPIO</h2>
					<p>Confira nosso saboroso cardápio</p>
				</div>

				<!-- <div class="row" data-aos="fade-up" data-aos-delay="100">
					<div class="col-lg-12 d-flex justify-content-center">
						<ul id="menu-flters">
							<li data-filter="*" class="filter-active">Todos</li>-->
							<!-- Renderizar cada categoria como um item de filtro -->
						<!-- 	<li th:each="categoria : ${categoriaProdutos}" th:text="${categoria.getCategoriaProduto()}"
								th:attr="data-filter=*{categoria.getCategoriaProduto().toUpperCase()}">
							</li>
						</ul>
					</div>
				</div>-->

				<!-- Menu items -->
				<div class="row menu-container" data-aos="fade-up" data-aos-delay="200" th:each="produto : ${produtos}">
					<div class="col-lg-6 menu-item" th:class="filter">
						<img th:src="@{'/img/img-uploads/' + ${produto.imagem}}" class="menu-img" alt="">
						<div class="menu-content">
							<h3 class="fw-bolder" th:text="${produto.nome}"></h3>
							<span th:text="${#numbers.formatCurrency(produto.preco)}"> </span>
						</div>
						<div class="menu-ingredients">
							<h5 th:text="${produto.descricao}"></h5>
							<!--							<div>-->
							<!--								<h5 th:text="${produto.categoriaProduto}"></h5>-->
							<!--							</div>-->
						</div>
					</div>
				</div>

		</section><!-- End Menu Section -->


	</main><!-- End #main -->
	<!-- ======= Footer ======= -->
	<footer th:replace="~{fragments/footer :: footerImports}"></footer>

	<div id="preloader"></div>
	<a href="#" class="back-to-top d-flex align-items-center justify-content-center">
		<i class="bi bi-arrow-up-short"></i></a>

	<!-- Vendor JS Files -->
	<script src="../js/eventos.js"></script>
	<script src="../vendor/aos/aos.js"></script>
	<script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="../vendor/glightbox/js/glightbox.min.js"></script>
	<script src="../vendor/isotope-layout/isotope.pkgd.min.js"></script>

	<!-- Template Main JS File -->
	<script src="../js/main.js"></script>

</body>

</html>